*{
    font-family: 'Roboto', sans-serif !important;
}
.welcome-heading{
    color: #202223;
    text-align: center;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 64.865% */
    letter-spacing: 3px;
}
.welcome-subheading{
    color:  #6D7175;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.5px; /* 289.286% */
    letter-spacing: 3px;
}

.steps-div{
    padding: 12px;
    background: #f2f2f2;
    border-radius: 5px;
}

.steps-div .subtext{
    color: #767676;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
}

.home-card {
    width: 908px;
    height: 158px;
    flex-shrink: 0;
}

.hometab-left-div{
    width: 55%;
}

.hometab-left-div .Polaris-VerticalStack img{
    width: 63px;
}

.hometab-right-div{
    width: 45%;
}

.hometab-right-div .Polaris-Grid-Cell .Polaris-Box{
    padding: 36px 17px !important;
}

.callout-description{
    color: #919191;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 14px;
    margin-bottom: 8px;
}

.Polaris-DataTable__Table thead{
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01);
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  }
  
  .Polaris-DataTable__Footer{
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01) !important;
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset !important;
  }
  
  .avatar-row{
    display: flex;
  }
  
  .avatar-row .Polaris-Avatar{
    margin-right: -15px;
      border: 3px solid #f1f1f1;
  }
  
  .bundle-table .Polaris-Badge{
    width: 71px;
    padding: 2px 15px;
    justify-content: center;
  }
  
  .bundle-table .Polaris-Badge .Polaris-Text--bodySm{
    text-align: center;
  }

  .bundle-tab-main-buttons{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 37px;
  }
  
  .bundletab-main .Polaris-Box{
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01);
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  }
  
  .Polaris-IndexTable__Table .Polaris-IndexTable__TableHeading{
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01);
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  }
  .avatar-row{
    display: flex;
  }
  
  .avatar-row .Polaris-Avatar{
    margin-right: -8px;
      border: 3px solid #f1f1f1;
      width: 25px;
  }
  
  .custom-badge .Polaris-Badge{
    width: 71px;
    padding: 1px 15px;
    padding-bottom: 4px;
    justify-content: center;
  }
  
  .custom-badge .Polaris-Badge .Polaris-Text--bodySm{
    text-align: center;
  }
  
  .filter-div{
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 5px;
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01);
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  }
  
  .bundle-table{
    /* padding-left: 10px; */
  }
  
  .filter-input .Polaris-TextField{
    width: 230px;
  }
  
  .table-pagination .Polaris-Pagination{
    background: linear-gradient(0deg, #F6FFF9 0%, #F6FFF9 100%), rgba(255, 255, 255, 0.01);
    box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  .bundle-popup .Polaris-Link{
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    border: unset;
    padding: 10px 20px;
  }
  
  .bundle-popup .Polaris-Link:hover{
    background: #E8FFED;
  }
  
  .bundle-popup-button-subtext .Polaris-Text--bodySm{
    color: #6E6E6E;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  
  .bundle-popup-button-footer-text .Polaris-Text--bodySm{
    color: #909090;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  /* Create Bundle Form CSS*/


  .create-bundle-form .Polaris-Layout__Section > .Polaris-Box {
    border-radius: 8px;
    background: #f6fff9;
  
    /* shadow-card */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
      0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  }
  .search-card-subtext {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .pselector {
    margin-top: 17px;
  }
  
  .psection-emptystate p {
    color: #202223;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  
  .bundle-status-selector .Polaris-Button {
    width: 100%;
  }
  
  .bundle-status-selector .Polaris-Button__Content {
    justify-content: space-between;
  }
  
  .bundle-status-second-section {
    padding: 15px 8px;
  }
  
  .bundle-status-card-checkbox {
    padding: 10px 8px;
  }
  
  .psection-emptystate {
    padding-top: 87px;
    padding-bottom: 76px;
  }
  .psection-emptystate .Polaris-Box {
    padding-bottom: 0px;
  }
  
  .psection-emptystate img {
    height: 56px;
  }
  
  .card-bg > .Polaris-Box {
    border-radius: 8px;
    background: #f6fff9;
  
    /* shadow-card */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
      0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  }
  
  .bundle-as-product-checkbox{
    padding: 16px 48px;
  }
  .discount-card-checkbox{
    padding: 6px 0px;
  }
  
  .cbf-discount-card{
    margin-top: 8px;
  }
  
  .general-card-fields{
    margin-bottom: 27px;
  }
  
  .bundle-time-date{
    margin-top:8px;
    margin-bottom: 15px;
  }

  /* Customization Tab*/

  .design-card-subtitle{
    margin-top: 12px;
  }

  /* Settings Tab*/

  .settings-tab-title .Polaris-Text--headingLg {
    margin-bottom: 33px;
    margin-top: 16px;
}

.settingtab-card .Polaris-Link > .Polaris-Box {
  background: #F6FFF9;
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
}

.settingtab-card .Polaris-Avatar {
  /* width: 40px; */
  min-width: 40px;
  height: 40px;
}

.settingtab-card .Polaris-Link{
  color: rgb(0, 0, 0);
  width: 100%;
}

.settingtab-card .Polaris-Link:hover{
  color: rgb(0, 0, 0)
}

.settingtab-card .Polaris-Link:focus:not(:active){
  outline: none;
}

/* Bundle setting Page*/

.bundle-setting-main{
  margin-top: 46px;
}

.bundle-setting-card .Polaris-VerticalStack > .Polaris-Box{
  border-radius: 8px;
background: #F6FFF9;

/* shadow-card */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

/* Analytics Tab */

.analytics-tab-main{
  margin-top: 16px;

}

.analytics-filter-div{

}

.analytics-filter-selector .Polaris-Select__Content{
  background: #F6FFF9;
  
  /* shadow-card */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

}

.analytics-filter-selector .Polaris-Select__Icon{
  visibility: hidden;
}
.analytics-cards .Polaris-Box {
  background: #F6FFF9;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.analytics-table-pagination .Polaris-ButtonGroup{
  justify-content: center;
}